@model IEnumerable<string>
@{
  ViewBag.Title = "Home Page";
}

<h1>Home</h1>
<ul>
  @foreach(string city in Model)
  {
    <li>@city</li>
  }
</ul>
@*Transient - new GUID for every instance, changing when refreshing*@
@*Scoped - same GUID for every instance, changing when refreshing*@
@*Singleton - same GUID for every instance, even when refreshing*@
<div>@ViewBag.id_1</div>
<div>@ViewBag.id_2</div>
<div>@ViewBag.id_3</div>
<div>
  <h3>From Child Scope</h3>
  <div>@ViewBag.ID_from_child_scope</div>
</div>